{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h4 class="title is-4">About</h4>
<p>Developed by: <a href="https://github.com/danielperna84" title="Link to GitHub profile">danielperna84</a><br />
Repository: <a href="https://github.com/danielperna84/hass-wh-triggers" title="Link to GitHub repository">HASS-WH-Triggers</a></p>
<hr>
<h5 class="title is-5">Main dependencies</h5>
<ul>
    <li><a href="https://www.palletsprojects.com/p/flask/">Flask</a></li>
    <li><a href="https://github.com/Yubico/python-fido2">python-fido2</a></li>
    <li><a href="https://bulma.io/">Bulma</a></li>
    <li><a href="https://github.com/pyauth/pyotp">PyOTP</a></li>
    <li><a href="https://davidshimjs.github.io/qrcodejs/">qrcode.js</a></li>
</ul>
{% endblock %}
