{% extends "layout.html" %}
{% block title %}Triggers{% endblock %}
{% block content %}
{% include "modal.html" %}
{% if current_user.is_authenticated and current_user.is_admin %}
<h4 class="title is-4">Triggers</h4>
<table class="table is-bordered">
        {% for trigger in triggers %}
        <tr><td>{{ trigger.caption }}&nbsp;</td><td><button class="button is-warning is-small" onclick="load_trigger(this, {{ trigger.id }})">Edit</button></td><td><a class="button is-danger is-small" href="admin_triggers?del_trigger={{ trigger.id }}">Delete</a></td></tr>
        {% endfor %}
</table>
<hr>
<h4 class="title is-4">Add / modify trigger</h4>
<form id="add-trigger-form" name="admin_triggers" method="post">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-expanded">
                <label for="caption">Caption: </label>
                <div class="control"><input id="caption" name="caption" type="text" class="input" maxlength="64" autocomplete="off" placeholder="My Automation" required /></div>
            </div>
            <div class="field is-narrow">
                <label for="order">Order: </label>
                <div class="control"><input id="order" name="order" type="number" class="input is-narrow" value="1" /></div>
            </div>
        </div>
    </div>
    <div class="field">
        <label for="trigger_json">Trigger data:</label>
        <div class="control"><textarea id="trigger_json" name="trigger_json" class="textarea" maxlength="512" autocomplete="off" required onkeyup="check_trigger_json(this)" placeholder='{"service":"light.turn_on", "entity_id": "light.kitchen"}'></textarea></div>
    </div>
    <label for="webhook_uri">Webhook URI: </label>
    <div class="field has-addons">
        <div class="control is-expanded"><input id="webhook_uri" name="webhook_uri" type="text" class="input" value="" required placeholder="http://your-home-assistant:8123/api/webhook/some_hook_id" /></div>
        <div class="control"><button type="button" class="button is-primary is-outlined" onclick="make_id(16)">Add random ID</button></div>
    </div>
    <div class="field">
        <label for="password">Password (optional): </label>
        <div class="control"><input id="password" name="password" onclick="toggle_password()" type="password" class="input" maxlength="64" autocomplete="off" placeholder="Password" /></div>
    </div>
    <div class="field">
        <label for="include_user">Include user: </label>
        <div class="control"><input id="include_user" name="include_user" type="checkbox" checked /></div>
    </div>
    <div class="field">
        <label for="require_geo">Require Geolocation: </label>
        <div class="control"><input id="require_geo" name="require_geo" type="checkbox" /></div>
    </div>
    <div class="field">
        <label for="disabled">Disable trigger: </label>
        <div class="control"><input id="disabled" name="disabled" type="checkbox" /></div>
    </div>
    <div class="field">
        <label for="users">Available to users: </label>
        <div class="control">
            <select id="users" name="users" multiple size="4">
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <hr>
    <div class="field is-grouped">
        <div class="control">
            <button type="submit" class="button is-danger is-outlined">Save</button>
        </div>
        <div class="control">
            <button type="button" class="button is-warning is-outlined" onclick="resetForm()">Reset</button>
        </div>
    </div>
    <input type="hidden" id="id" name="id" value="" />
</form><br />
<script>
function resetForm() {
    document.getElementById('add-trigger-form').reset();
    document.getElementById('id').value = "";
}

function check_trigger_json(obj) {
    try {
        JSON.parse(obj.value);
        obj.classList.remove("is-danger");
    }
    catch (e) {
        obj.classList.add("is-danger");
    }
}

function toggle_password() {
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
}

function load_trigger(obj, id) {
    obj.classList.add("is-loading");
    fetch("{{ url_for('triggers_json', triggerid=0) }}".replace("0", id))
    .then(
        function(response) {
            if (response.status !== 200) {
                show_modal("Error", "Could not load trigger data.");
                obj.classList.remove("is-loading");
                return;
            }
            response.json().then(function(data) {
                document.querySelectorAll("#users option").forEach(function(user) {
                    user.selected=false;
                });
                document.getElementById("caption").value = data.caption;
                document.getElementById("order").value = data.order;
                document.getElementById("trigger_json").value = data.trigger_json;
                document.getElementById("include_user").checked = data.include_user;
                document.getElementById("require_geo").checked = data.require_geo;
                document.getElementById("disabled").checked = data.disabled;
                document.getElementById("webhook_uri").value = data.webhook_uri;
                document.getElementById("password").value = data.password;
                document.getElementById("id").value = data.id;
                for (var i = 0; i < data.users.length; i++) {
                    document.querySelector("#users option[value='" + data.users[i] + "']").selected=true;
                }
                obj.classList.remove("is-loading");
            });
        }
    )
    .catch(function(err) {
        show_modal("Fetch Error", err);
        obj.classList.remove("is-loading");
    });
}

function make_id(length) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    document.getElementById('webhook_uri').value += result;
}
</script>
{% endif %}
{% endblock %}
