<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
        <script src="{{ url_for('static', filename='js/cbor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cosmo.bulmaswatch.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <title>{% block title %}{% endblock %} - {{ app_title }}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='images/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="manifest" href="{{ url_for('pwa_manifest') }}">
        <script>
            window.onfocus = function() {window.location.reload()};
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{{ url_for('static', filename='js/service-worker-pwa.js') }}");
            }
        </script>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('index') }}">{{ app_title }}{% if current_user.is_authenticated %}{% endif %}</a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-start">
                    {% if current_user.is_authenticated and current_user.sign_count > 0 %}<a class="navbar-item" href="{{ url_for('triggers') }}">Triggers</a>{% elif current_user.is_authenticated %}<a class="navbar-item" href="{{ url_for('logout') }}">Re-login to see triggers</a>{% endif %}
                </div>
              
                <div class="navbar-end">
                    {% if current_user.is_admin %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Admin</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('admin_triggers') }}">Triggers</a>
                            <a class="navbar-item" href="{{ url_for('security') }}">Security</a>
                            <a class="navbar-item" href="{{ url_for('users') }}">Users</a>
                            <a class="navbar-item" href="{{ url_for('otp') }}">OTP</a>
                            <a class="navbar-item" href="{{ url_for('tokens') }}">Registration tokens</a>
                            <a class="navbar-item" href="{{ url_for('banlist') }}">Banlist</a>
                            <a class="navbar-item" href="{{ url_for('settings') }}">Settings</a>
                        </div>
                    </div>
                    {% elif current_user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">Settings</a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for('security') }}">Security</a>
                        </div>
                    </div>
                    {% endif %}
                    <a class="navbar-item" href="{{ url_for('about') }}">About</a>
                    {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <h1 class="title"></h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</li>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="content" class="container">{% block content %}{% endblock %}</div>
    </body>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

            });
        });
        }

        });
    </script>
</html>
