{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
{% if current_user.is_authenticated and current_user.is_admin %}
<h4 class="title is-4">Settings</h4>
<form id="settings" name="settings" method="post">
<label for="title">Title: </label><input id="title" name="title" type="text" class="input" minlength="1" maxlength="64" autocomplete="off" placeholder="HASS-WH-Triggers" value="{{ title }}" required /><br />
<label for="session_timeout">Session timeout (minutes): </label><input id="session_timeout" name="session_timeout" type="number" class="input" autocomplete="off" placeholder="15" value="{{ session_timeout }}" required /><br />
<label for="ban_limit">Ban limit: </label><input id="ban_limit" name="ban_limit" type="number" class="input" autocomplete="off" placeholder="3" value="{{ ban_limit }}" required /><br />
<label for="ban_time">Ban time (seconds): </label><input id="ban_time" name="ban_time" type="number" class="input" autocomplete="off" placeholder="300" value="{{ ban_time }}" required /><br />
<label for="ignore_ssl">Ignore SSL: </label><input id="ignore_ssl" name="ignore_ssl" type="checkbox" {{ ignore_ssl }} /><br />
<button type="submit" class="button">Save</button>
</form>
{% endif %}
{% endblock %}
