{% extends "layout.html" %}
{% block title %}Triggers{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
{% for trigger in triggers %}
<p><button class="button is-outlined is-fullwidth" onclick="fire(this, {{ trigger.id }}, {% if trigger.password | length %}true{% else %}false{% endif %})">{{ trigger.caption }}</button></p><br />
{% endfor %}
<script>
function fire(obj, id, password) {
    var body = "";
    if (password) {
        body += prompt("Password");
    }
    else {
        body += "";
    }

    obj.classList.add("is-loading");
    var url = "{{ url_for('triggers_fire', triggerid=0) }}".replace(new RegExp('0' + '$'), id);
    fetch(url, {
        method: 'post',
        headers: {
            "Content-type": "application/x-www-form-urlencoded; charset=UTF-8"
        },
        body: body
    })
    .then(
        function(response) {
            if (response.status !== 200) {
                obj.classList.remove("is-loading");
                if (response.status === 401) {
                    alert("Incorrect password.")
                }
                return;
            }
            response.json().then(function(data) {
                obj.classList.remove("is-loading");
                if (data.status == "success") {
                    alert("Success");
                }
                else {
                    alert("Error");
                }
            });
        }
    )
    .catch(function(err) {
        console.log("Fetch Error :-S", err);
        obj.classList.remove("is-loading");
    });
}
</script>
{% endif %}
{% endblock %}
