{% extends "layout.html" %}
{% block title %}Users{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<h5 class="title is-5">Users</h5>
<div class="table__wrapper">
<table class="table is-bordered">
    <thead>
        <tr>
            <th>ID</th><th>Username</th><th>Logins</th><th>Last login</th><th>Failed logins</th><th>Last failed</th><th>TOTP</th><th>OTP only</th><th>Admin</th><th></th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.sign_count }}</td>
            <td>{{ user.last_login | ctime }}</td>
            <td>{{ user.failed_logins }}</td>
            <td>{{ user.last_failed | ctime }}</td>
            <td>{{ user.totp_initialized }}</td>
            <td><input type="checkbox" data-userid="{{ user.id }}" onclick="toggle_otp(this)" {% if user.otp_only %}checked{% endif %} {% if user.id == 1 %}disabled{% endif %} /></td>
            <td><input type="checkbox" data-userid="{{ user.id }}" onclick="toggle_admin(this)" {% if user.is_admin %}checked{% endif %} {% if user.id == 1 %}disabled{% endif %} /></td>
            <td><a href="{{ url_for('users', del_user=user.id) }}" class="button is-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
<hr>
<h5 class="title is-5">FIDO2 tokens</h5>
<div class="table__wrapper">
    <table class="table is-bordered">
        <thead>
            <tr>
                <th>ID</th><th>Name</th><th>User ID</th><th></th>
            </tr>
        </thead>
        <tbody>
        {% for authenticator in authenticators %}
            <tr>
                <td>{{ authenticator.id }}</td>
                <td>{{ authenticator.name }}</td>
                <td>{{ authenticator.user }}</td>
                <td><a href="{{ url_for('zfa', del_authenticator=authenticator.id) }}" class="button is-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
function toggle_admin(obj) {
    var userid = obj.getAttribute("data-userid");
    fetch('users/toggle_admin/' + userid)
    .then(
        function(response) {
            if (response.status !== 200) {
                alert("Could not change setting");
                return;
            }
            response.json().then(function(data) {
                obj.checked = data.success;
            });
        }
    )
    .catch(function(err) {
        console.log("Fetch Error :-S", err);
    });
}

function toggle_otp(obj) {
    var userid = obj.getAttribute("data-userid");
    fetch('users/toggle_otp/' + userid)
    .then(
        function(response) {
            if (response.status !== 200) {
                alert("Could not change setting");
                return;
            }
            response.json().then(function(data) {
                obj.checked = data.success;
            });
        }
    )
    .catch(function(err) {
        console.log("Fetch Error :-S", err);
    });
}
</script>
{% endif %}
{% endblock %}
