body {
    font-family: Arial, Helvetica, sans-serif;
}

.flash {
    color: #63B246;
}

.table__wrapper {
    overflow-x: auto;
}

.force-select {  
    -webkit-user-select: all;  /* Chrome 49+ */
    -moz-user-select: all;     /* Firefox 43+ */
    -ms-user-select: all;      /* No support yet */
    user-select: all;          /* Likely future */   
  }